[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt5 = "*"
python-pidfile = "*"

[dev-packages]
pylint = "*"
ipykernel = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.8"
